<header class="header bg-dark">
  <nav class="navbar navbar-dark bg-dark container">
    <a class="navbar-brand logo" href="/">
      <span class="logo_icon">Cocktail<i class="fas fa-cocktail"></i></span>
      <span class="logo_text">party</span>
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-light"
           routerLink="/"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-capitalize"
           routerLink="new-cocktail"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact: true}"
        >new cocktail</a>
      </li>
    </ul>
  </nav>
</header>
