<div class="new-cocktail-block">
  <h5 class="text-center">New cocktail</h5>
  <form class="cocktail-form mt-5" (ngSubmit)="onSubmit()" [formGroup]="cocktailForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name"
             [class]="fieldHasError('name', 'required') ? 'form-control is-invalid': 'form-control'"
             formControlName="name">
      <small class="text-danger"
             *ngIf="fieldHasError('name', 'required')">
        Enter cocktail's name!
      </small>
      <small class="text-danger"
             *ngIf="fieldHasError('name', 'string')">
        Cocktail's name can not be number!
      </small>
    </div>
    <div class="form-group">
      <label for="imgUrl">Image URL</label>
      <input type="text"
             [class]="fieldHasError('imgUrl', 'required') ? 'form-control is-invalid': 'form-control'"
             id="imgUrl"
             formControlName="imgUrl">
      <small class="text-danger"
             *ngIf="fieldHasError('imgUrl', 'required')">
        Enter image URL!
      </small>
      <small class="text-danger"
             *ngIf="fieldHasError('imgUrl', 'imgUrl')">
        Enter valid image URL!
      </small>
    </div>
    <div class="form-group">
      <p>Cocktail type</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="alcoholCocktail"
               value="Alcohol Cocktail" formControlName="type"
        >
        <label class="form-check-label" for="alcoholCocktail">Alcohol cocktail</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="Mocktail"
               value="Mocktail" formControlName="type"
        >
        <label class="form-check-label" for="Mocktail">Mocktail</label>
      </div>
      <small class="text-danger"
             *ngIf="fieldHasError('type', 'required')">
        Choose type!
      </small>
    </div>
    <div class="form-group mt-4">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
    <div class="form-group mt-5" formArrayName="ingredients">
      <p>Ingredients</p>
      <button class="btn btn-success" type="button" (click)="addIngredient()">add ingredient</button>
      <div class="ingredients-list" *ngFor="let ingredient of getIngredients(); let i = index">
        <div class="form-group" [formGroupName]="i">
          <div class="form-inline mt-3 row justify-content-center align-items-baseline">
            <div class="col-4 pl-0">
              <div class="form-group d-flex flex-column">
                <input type="text"
                       placeholder="ingredient name"
                       [class]="ingredientsFieldHasError('ingredientName', 'required', i ) ? 'form-control is-invalid': 'form-control'"
                       formControlName="ingredientName">
                <small class="text-danger mt-2"
                       *ngIf="ingredientsFieldHasError('ingredientName', 'required', i)">
                  Enter ingredient name!
                </small>
                <small class="text-danger mt-2"
                       *ngIf="ingredientsFieldHasError('ingredientName', 'string', i)">
                  Name can not be number!
                </small>
              </div>
            </div>
            <div class="col-4 pl-0">
              <div class="d-flex flex-column">
                <input type="number" min="0"
                       [class]="ingredientsFieldHasError('ingredientAmount', 'required', i ) ? 'form-control is-invalid': 'form-control'"
                       placeholder="ingredient amount" formControlName="ingredientAmount">
                <small class="text-danger mt-2"
                       *ngIf="ingredientsFieldHasError('ingredientAmount', 'required', i)">
                  Enter amount!
                </small>
                <small class="text-danger mt-2"
                       *ngIf="ingredientsFieldHasError('ingredientAmount', 'min', i)">
                  Should be at least 1!
                </small>
              </div>
            </div>
            <div class="col-2 pl-0">
              <div class="d-flex flex-column">
                <select name="" id="amountSelect"
                        [class]="ingredientsFieldHasError('ingredientMeasure', 'required', i ) ? 'form-control is-invalid': 'form-control'"
                        formControlName="ingredientMeasure">
                  <option value="" selected></option>
                  <option value="ml">ml</option>
                  <option value="shot">shot</option>
                  <option value="pinch">pinch</option>
                  <option value="piece">piece</option>
                </select>
                <small class="text-danger"
                       *ngIf="ingredientsFieldHasError('ingredientMeasure', 'required', i)">
                  Choose measure!
                </small>
              </div>
            </div>
            <div class="col-2 pl-0">
              <button class="btn btn-danger ml-3" type="button" (click)="deleteIngredient(i)">delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt-5">
      <label for="instructions">Instructions</label>
      <textarea
        [class]="fieldHasError('instructions', 'required') ? 'form-control is-invalid': 'form-control'"
        id="instructions" formControlName="instructions"></textarea>
      <small class="text-danger"
             *ngIf="fieldHasError('instructions', 'required')">
        Enter instructions!
      </small>
    </div>
    <button class="btn btn-primary mt-3"
            [disabled]="cocktailForm.invalid"
            type="submit">
      <span class="spinner-border spinner-border-sm" *ngIf="addingCocktail"></span>
      <span *ngIf="!addingCocktail">add</span>
    </button>
  </form>
</div>
